:root {
  --color-darker: hsl(0, 0%, 17%);
  --color-lighter: hsl(0, 0%, 59%);
  --border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  text-align: center;
}

h1,
h2,
h3 {
  padding: 0.25rem;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.75rem;
}

h2 {
  color: var(--color-lighter);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
}

h3 {
  color: var(--color-darker);
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

/* Search Bar */
.search-form {
  background-color: white;
  display: inline-flex;
  width: 90%;
  max-width: 500px;
  height: 3rem;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.search-form__input {
  border: none;
  outline: none;
  margin: 1rem 1.5rem;
  flex: 1;
  font-size: 1rem;
  font-weight: 100;
}

.search-form__input::placeholder {
  color: var(--color-lighter);
}

.search-form__submit {
  background-color: var(--color-darker);
  border: none;
  width: 3rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  transition: 0.2s;
}

.search-form__submit:focus {
  outline: none;
}

.search-form__submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.search-form__submit img {
  height: 0.75rem;
}

/* IP Details */
.ip-details {
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  margin: 1.5rem auto;
  width: 90%;
  max-width: 500px;
  border-radius: var(--border-radius);
  padding-bottom: 1rem;
}

.ip-details__section {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .ip-details {
    margin-top: 2rem;
    flex-direction: row;
    max-width: 1024px;
    justify-content: space-between;
  }

  .ip-details__section {
    padding: 0 2rem;
    margin: 2rem 0;
    text-align: left;
    flex: 1;
    border-right: 1px solid hsla(0, 0%, 59%, 0.5);
  }

  .ip-details__section:last-of-type {
    border-right: none;
  }
}

/* Map */
.info {
  position: relative;
}

#map {
  top: 100px;
  z-index: -1;
  height: 65vh;
  width: 100vw;
  position: absolute;
}
